@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

/* Colour Scheme Variables */

:root {
	--clr-navigation-bar: #292929;
	--clr-navigation-btn: #edf2f4;
	--clr-background: #dae1ee;
	--clr-projects-background: #e0fbfc;
	--clr-skills-background: #ff6b6b;
	--clr-border: #aeb5c0;
	--clr-button: #2b2d42;
	--clr-button-hover: #5a5d76;
	--clr-hover: #98c1d9;
	--clr-footer: #292929;
}

/* General styles for web page */

body {
	font-family: "Oxygen", sans-serif;
	background: var(--clr-background);
}

h1 {
	font-size: 35px;
	font-weight: 700 !important;
	padding-bottom: 1rem;
	border-bottom: 3px solid var(--clr-border);
	margin-bottom: unset;
}

h2 {
	font-size: 25px;
	font-weight: 700 !important;
}

h3 {
	font-size: 20px;
	font-weight: 600 !important;
}

h4 {
	font-size: 15px;
	font-weight: 400 !important;
}

h5 {
	font-size: 15px;
	font-weight: 300 !important;
}

h6 {
	color: grey;
	font-size: 15px;
	font-weight: 300 !important;
}

p {
	font-size: 20px;
}

.heading {
	width: 100%;
	letter-spacing: 2px;
	margin-bottom: 2rem;
}

.wrapper {
	width: 100%;
	height: 100%;
	padding: 2rem;
}

.border-top {
	border-top: 1px solid black !important;
}

.start {
	text-align: start;
}

.centre {
	text-align: center;
}

.end {
	text-align: end;
}

@media all and (min-width: 660px) {
	.wrapper {
		padding-left: 3rem;
		padding-right: 3rem;
	}
}

@media all and (min-width: 991px) {
	.wrapper {
		padding-left: 5rem;
		padding-right: 5rem;
	}
	.heading h1 {
		font-size: 35px;
	}
	.border-top {
		border-top: unset !important;
	}
}

@media all and (min-width: 1600px) {
	.heading h1 {
		font-size: 45px;
	}
	h6 {
		font-size: 20px;
	}
	.wrapper {
		padding-right: 7rem;
		padding-left: 7rem;
	}
}

@media all and (min-width: 2000px) {
	.heading h1 {
		font-size: 50px;
	}
	h6 {
		font-size: 25px;
	}
	.wrapper {
		padding-right: 15rem;
		padding-left: 15rem;
	}
}
