.about-title,
.project-card-title,
.project-card-text {
	margin-bottom: 1rem;
}

.about-me-section {
	display: flex;
	flex-direction: column-reverse;
	gap: 2rem;
	align-items: flex-end;
	justify-content: space-around;
	align-items: center;
	background: linear-gradient(
		0deg,
		rgb(67, 97, 238, 1) 0%,
		rgba(67, 97, 238, 1) 33%,
		rgba(72, 149, 239, 1) 66%,
		rgba(76, 201, 240, 1) 100%
	);
	width: 100%;
}

.about-text {
	display: flex;
}

.tilt-element {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 4rem 1rem;
	background: #e9ecf3;
	border-radius: 1rem;
	box-shadow: 0 0 15px rgb(97, 97, 97);
	gap: 1rem;
	width: min-content;
	height: fit-content;

	transform-style: preserve-3d;
}

.inner-tilt-element {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 35px;

	transform: translateZ(100px);
}

@media all and (min-width: 1050px) {
	.about-me-section {
		flex-direction: row;
	}
}

@media all and (min-width: 1600px) {
	.tilt-element {
		padding: 5rem 2rem;
	}
}

@media all and (min-width: 2000px) {
	.tilt-element {
		padding: 5rem 3rem;
	}
}
